<section class="section">
  <div class='box content is-medium'>
    <h1>
      <%= @article.title %>
    </h1>
    <p>
      <%= simple_format(@article.description) %>
    </p>
    <hr/>
    <p>
      <small>Created by: <%= link_to @article.user.username, user_path(@article.user.id) %>,
        <%= time_ago_in_words(@article.created_at) %> ago,
        last updated: <%= time_ago_in_words(@article.updated_at) %> ago
      </small>
    </p>
    <hr/>
    <%= link_to 'Edit this article', edit_article_path(@article), class: 'button is-warning' %>
    <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: 'button is-danger' %>
  </div>
</section>

<%= render 'links' %>
