<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Welcome to <%= @user.username %>'s page</h1>
  </div>
  <div class="container has-text-centered">
    <%= gravatar_for @user, size: 150 %>
  </div>
  <hr />
  <div class="container has-text-centered">
    <h2 class="subtitle"><%= @user.username %>'s articles</h2>
  </div>

  <%= render 'shared/pagination', obj: @user_articles %>
  <%= render 'articles/article', obj: @user_articles.each %>
  <%= render 'shared/pagination', obj: @user_articles %>
</section>
