<section class="hero is-light">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to image_tag('banner-logo-dark.png'), root_path, class: 'navbar-item' %>
          <span id="navbarMenuHeroC-trigger" class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="navbar-end">
          <div id="navbarMenuHeroC" class="navbar-menu"> <!-- is-active -->
            <%= link_to 'GitHub', "https://github.com/quesow/alpha-blog", class: 'navbar-item', class_active: 'is-active', active: :exact %>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to AlphaBlog
      </h1>
      <h2 class="subtitle">
        First rails application made with The Complete Ruby on Rails Developer course
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <span id="navBar-trigger" class="navbar-burger burger" data-target="navBar">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navBar" class="navbar-menu"> <!-- is-active -->
        <div class="navbar-start">
          <%= active_link_to 'Home', root_path, class_active: 'is-active', active: :exact, class: 'navbar-item' %>
          <%= active_link_to 'About', about_path, class_active: 'is-active', class: 'navbar-item' %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Articles
            </a>

            <div class="navbar-dropdown">
              <%= active_link_to 'Listing articles', articles_path, class_active: 'is-active', active: :exact, class: 'navbar-item' %>
              <%= active_link_to 'New Article', new_article_path, class_active: 'is-active', class: 'navbar-item' %>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Users
            </a>
            <div class="navbar-dropdown">
              <%= active_link_to 'Listing bloggers', users_path, class_active: 'is-active', active: :exact, class: 'navbar-item' %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if logged_in? %>
                <%= link_to 'Log out', logout_path, class: 'button is-danger', method: 'DELETE' %>
              <% else %>
                <%= link_to 'Sign Up', signup_path, class: 'button is-primary' %>
                <%= link_to 'Log in', login_path, class: 'button is-light' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
