<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Welcome to AlphaBlog</h1>
      <h3>First rails application made with The Complete Ruby on Rails Developer course</h3>
      <p>Take a look in https://www.udemy.com</p>
    </header>
    <content>
      <%= yield %>
    </content>
    <footer>
      <p>Posted by: Jesua Betancor</p>
      <p>Contact information: <a href="mailto:jesuae@example.com">
      jesua@example.com</a>.</p>
      <p>Photos from: <a href="https://www.pexels.com/">https://www.pexels.com/</a>.</p>
    </footer>
  </body>
</html>
